main{
    display: flex; 
    width: 100%; 
    height: 100%;
    position: fixed;
    top: -40px;
}

.v-square{
    width: 530px;
    height: 600px;
    background-color: #C00D0E;
    position: absolute;
    top: 80px;
    left: 650px;
    z-index: 2;
    box-shadow: -10px 5px 1px #600405;
}

.poke-symbol{
    position: absolute;
    width: 250px;
    height: 250px;
    background-color:#890606 ;
    border-radius: 50%;
    left: 150px;
    top: 20px;
}

.poke-symbol::before{
    content: '';
    position: absolute;
    width: 250px;
    height: 34px;
    background-color: #C00D0E;
    top: 110px;
}

.poke-symbol::after{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    background-color:#51AE60 ;
    border-radius: 50%;
    left: 90px;
    top: 90px;
    box-shadow: 0px 0px 0px 10px #890606, 0px 0px 0px 30px #C00D0E;
}

.haste{
    width: 700px;
    height: 60px;
    background:linear-gradient(0deg,rgb(104, 0, 0) 0%, #C00D0E 50%, rgb(104, 0, 0) 150%);
    position: absolute;
    top: 370px;
    left: 480px;
    border-radius: 5px;
    z-index: 5;
}

.hinge{
    width: 70px;
    height: 60px;
    position: absolute;
    top: 0px;
    left: 604px;
    background: linear-gradient(0deg,rgb(88, 0, 0) 10%, #C00D0E 50%, rgb(88, 0, 0) 120%);
    border-left: 3px solid rgb(100, 0, 0);
    border-right: 3px solid rgb(100, 0, 0);
    
}

.hinge::before{
    content: '';
    width: 70px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 404px;
    background: linear-gradient(0deg,rgb(88, 0, 0) 10%, #C00D0E 50%, rgb(88, 0, 0) 120%);
    border-left: 3px solid rgb(100, 0, 0);
    border-right: 3px solid rgb(100, 0, 0);

}

.hinge::after{
    content: '';
    width: 40px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 630px;
    background: linear-gradient(0deg,rgb(88, 0, 0) 10%, #C00D0E 50%, rgb(88, 0, 0) 120%);
    border-radius: 5px 0px 0px;
    border-right: 3px solid rgb(100, 0, 0);
}

.h-square{
    width: 700px;
    height: 430px;
    background-color: #C00D0E;
    position: absolute;
    z-index: 3;
    left: 480px;
    top: 425px;
    border-radius: 0 0 0 80px;
    border-top: 1px solid black;
    box-shadow: 0px 16px 1px 0px #600405;
}

.left-h{
    width: 170px;
    height: 480px;
    background: #8B0100;
    border-radius: 0 0 0 70px;
    box-shadow: -6px 8px 1px 8px #600405;
    position: absolute;
    top: -51px;
}

.green-btn, .green-btn::after{
    width: 24px;
    height: 24px;
    background:#51AE60;
    position: absolute;
    border-radius: 4px 0 0 0;
    top: 100px;
    box-shadow: -3px 1px 0px 0px #3f864b;
}

.green-btn::after{
    content: '';
    top: 40px;
}

.blue-btn{
    width: 80px;
    height: 80px;
    background: radial-gradient(#9ed3e2 10%, #54D4F1 40%);
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 40px;
    border: none;
    box-shadow: 0px 2px 2px 5px #600405;
    cursor: pointer;

}

.blue-btn::after{
    content: '';
    position: absolute;
    width: 36px;
    height: 18px;
    background-color: #9FF0FA;
    border-radius: 20px;
    top: 10px;
    left: 22px;
}

.board{
    width: 480px;
    height: 380px;
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: #424242 ;
    border-radius: 10px 10px 20px 20px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    align-items: center;
    flex-direction: column;
}

.screen{
    width: 434px;
    height: 316px;
    background-color: #1f1f1f;
    border: 8px solid #8f8f8f;
    border-radius: 10px;
    overflow: hidden;
}

.screen::-webkit-scrollbar{
    transition: 1s linear all;
}

.screen:has(div){
    background-color: #51ae61;

}

.btn-box{
    width: 124px;
    height: 24px;
    border-radius: 5px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.btn{
    width: 50px;
    height: 12px;
    background-color: white;
    border-radius: 20px 8px 8px 20px;
    box-shadow: -2px 2px 0 1px #cccccc;
    border: none;
    cursor: pointer;
}

.keys{
    width: 160px;
    height: 180px;
    background-color: #424242;
    border-radius: 0 50% 50% 0;
    position: absolute;
    right: -160px;
    border-right: 24px solid #8B0100;
    border-top: 24px solid #8B0100;
    border-bottom: 24px solid #8B0100;
    bottom: 0;
    box-shadow:-8px 12px 0 4px #600405;
}

.keys > span{
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: #DDDCDC;
    border: none;
    top: 45px;
    left: 45px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

 .keys > button{
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #DDDCDC;
    border: none;
    z-index: 1;
 }
 
 .keys > button:active{
    box-shadow: none;
    background: #b9b9b9;
 }

 .keys > button:nth-child(1){
    left: 45px;
    top: 9px;
    box-shadow: -4px 1px 0px 1px #B0B0B0;
    border-radius: 5px 5px 0px 0px;
 }
 .keys > button:nth-child(2){
    left: 45px;
    top: 79px;
    box-shadow: -4px 2px 0px 1px #B0B0B0;
    border-radius: 0px 0px 5px 5px;
 }
 .keys > button:nth-child(3){
    left: 10px;
    top: 44px;
    box-shadow: -4px 3px 0px 1px #B0B0B0;
    border-radius: 5px 0px 0px 5px;
 }
 .keys > button:nth-child(4){
    left: 80px;
    top: 44px;
    box-shadow: -4px 4px 0px 1px #B0B0B0;
    border-radius: 0px 5px 5px 0px;
    z-index: 0;
 }